main .form-control
{
    /* Center */
    display: inline-block;

    /* override Bootstrap's 100% width */
    width: auto;
}

main
{
    text-align: center;
}

th:nth-of-type(2)
{
    display: none;
}

th:nth-of-type(7)
{
    display: none;
}

td:nth-of-type(2)
{
    display: none;
}

td:nth-of-type(7)
{
    display: none;
}